<section data-ng-controller="IMessagesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit IMessages</h1>
	</div>
	<div class="col-md-12">
		<form name="imessageForm" class="form-horizontal" data-ng-submit="update(imessageForm.$valid)" novalidate>
			<fieldset>
                <!--<div class="form-group" ng-class="{ 'has-error' : submitted && imessageForm.touser.$invalid}">
                    <label class="control-label" for="touser">To</label>
                    <div class="controls">
                        <input name="touser" type="text" data-ng-model="imessage.touser" id="touser" class="form-control" placeholder="To" required>
                    </div>
                    <div ng-show="submitted && imessageForm.touser.$invalid" class="help-block">
                        <p ng-show="imessageForm.touser.$error.required" class="text-danger">To is required</p>
                    </div>
                </div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && imessageForm.title.$invalid}">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="imessage.title" id="title" class="form-control" placeholder="Title">
					</div>
				</div>-->
				<div class="form-group" ng-class="{ 'has-error' : submitted && imessageForm.content.$invalid}">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="imessage.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && imessageForm.content.$invalid" class="help-block">
						<p ng-show="imessageForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
