<section data-ng-controller="IMessagesController" data-ng-init="find()">
	<div class="page-header">
		<h1>IMessages</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="imessage in imessages" data-ng-href="#!/imessages/{{imessage._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="imessage.title"></h4>
			<p class="list-group-item-text" data-ng-bind="imessage.content"></p>
            <small class="list-group-item-text">
                <span data-ng-bind="imessage.created | date:'mediumDate'"></span>
                <!--by
                <span data-ng-bind="imessage.user.displayName"></span>
                to
                <span data-ng-bind="imessage.touser.displayName"></span>-->
            </small>
		</a>
        <ul class="pagination" ng-show="totalPage>1">
            <li ng-class="{true:'active'}[currentPage==1]"><a href="javascript:void(0)"
                                                              ng-click="currentPage=1;load()">First</a></li>
            <li ng-class="{true:'disabled'}[currentPage==1]"><a href="javascript:void(0);" ng-click="prev()">Prev</a></li>
            <li ng-repeat="page in pages"><a href="javascript:void(0);" ng-click="loadPage(page)">{{ page }}</a></li>
            <li ng-class="{true:'disabled'}[currentPage==totalPage]"><a href="javascript:void(0);" ng-click="next()">Next</a>
            </li>
            <li ng-class="{true:'active'}[currentPage==totalPage]"><a href="javascript:void(0)"
                                                                      ng-click="currentPage=totalPage;load()">Last</a></li>
        </ul>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="imessages.$resolved && !imessages.length">
		No imessages yet, why don't you <a href="/#!/imessages/create">create one</a>?
	</div>
<!--</section>
<section data-ng-controller="IMessagesController">-->
    <div class="page-header">
        <h1>New IMessage</h1>
    </div>
    <div class="col-md-12">
        <form name="imessageForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <!--<div class="form-group" ng-class="{ 'has-error': imessageForm.touser.$dirty && imessageForm.touser.$invalid }">
                    <label class="control-label" for="touser">To</label>
                    <div class="controls">
                        <input name="touser" type="text" data-ng-model="touser" id="touser" class="form-control" placeholder="To" required>
                    </div>
                </div>
				<div class="form-group" ng-class="{ 'has-error': imessageForm.title.$dirty && imessageForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title">
					</div>
				</div>-->
                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
