<section class="row" data-ng-controller="RelationController">
    <h3 class="col-md-12 text-center">Search your lover</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="searchuser()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>
